<!--<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
        <blockquote>
            <p><b>Settings</b></p>
        </blockquote>
    </h3>
  </div>
  <div class="panel-body">
    <div>
        <div class="btn-group">
            <a href="#Locales" class="btn btn-success">Locales</a>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Locales">Locales List</a></li>
                <li><a href="#CreateLocale">Create Locale</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a  href="#Envs" class="btn btn-success">Environments</a>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Envs">Environment List</a></li>
                <li><a href="#EnvCreate">Create Environment</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a  href="#AppsFrameworks" class="btn btn-success">Apps & Frameworks</a>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#AppsFrameworks">Apps/Frameworks List</a></li>
                <li><a href="#AppsFrameworksCreate">Create Apps/Frameworks</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a href="#Export" class="btn btn-success">Export</a>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#AppsFrameworks">Apps/Frameworks List</a></li>
                <li><a href="#AppsFrameworksCreate">Create Apps/Frameworks</a></li>
            </ul>
        </div>
    </div>
  </div>
 <div class="panel-footer"></div>
</div>-->